@import url('https://fonts.googleapis.com/css?family=Tilt+Neon|Titillium+Web');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #242F40   ;
  --secondary-color: #FC7A1E;
  --accent1-color: #A42212;
  --accent2-color: #59C3C3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Titillium Web";
  --paragraph-font: "Tilt Neon";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #242F40;  /* headlines on a white background */ 
  --headline-color-on-color: F6E8EA; /* headlines on a colored background */ 
  --paragraph-color-on-white: #242F40; /* paragraph text on a white background */ 
  --paragraph-color-on-color: F6E8EA; /* paragraph text on a colored background */ 
  --paragraph-background-color: #242F40  ;
  --nav-link-color: #242F40;
  --nav-background-color: #B66D0D;
  --nav-hover-link-color: #F6E8EA;
  --nav-hover-background-color: #242F40;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: left;
}
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}
.logo{
    width:200px;
    padding: 10px;
    
}
.banner_img{
    height:200px;
    /* outline: 1px solid red; */
}
header {
    padding: 1em;
    text-align: left;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    display: flex;
    justify-content: space-between;
    align-items: left;
    /* outline: 1px solid red; */
}
nav {
    /* line-height: 3em; */
    text-align: left;
    justify-content: flex-end;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* outline: 1px solid red; */
    /* padding-left: 5px; */

}
nav a {
    background-color: var(--nav-background-color);
    padding: 5px 5px 5px 5px;
    min-width: 80px;
    margin: 10px;
    white-space: nowrap;

    align-items: left;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
  
footer{
    background-color: var(--primary-color);

    font-family: var(--paragraph-font);
    /* padding: 25px 50px;
    margin-top: 200px;
    font-size: 1.2em; */

    /* grid-template-columns: 1fr 1fr 1fr ; */
    /* grid-template-rows: 3em 1.5em 1.5em 3em; */
    /* justify-items:left; */
    /* outline: 2px solid red; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer a{
    color: var(--headline-color-on-color);

    text-decoration: none;
    flex: 1;
    text-align: right;
    padding: 5px;
}
footer p a{
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-color);

    text-decoration: none;
    flex: 1;
    text-align: center;
    padding: 5px;
  /* outline: 2px solid red; */
}
footer a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer a img {
    display: block;
    margin: 0 auto;
    width: 40px;

    /* max-width: 100%; */
    /* min-width: 100%; */

  }

/* Home Page */
.home-main img{
    width: 400px;
    transition:transform 0.25s ease;
}
.home-main img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
.home-main{
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: (minmax(90px, auto));
    grid-gap: 20px;
    padding:20px;
    outline: 2px solid black;
}
.home-div-1{
    grid-row: 1;
    grid-column: 1/2;
    outline: 2px solid black;
}
.home-img-1{
    grid-row: 1;
    grid-column: 3;
    /* outline: 2px solid red; */
}
.home-img-2{
    grid-row: 2;
    grid-column: 1;
    /* outline: 2px solid red; */
}
.home-div-2{
    grid-row: 2;
    grid-column: 2/3;
    outline: 2px solid black;
}

  /* Page One */
.page1-main div img{
    width: 300px;
    transition:transform 0.25s ease;
}
.page1-main div img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
.page1-main div{
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: (minmax(90px, auto));
    grid-gap: 20px;
    padding:20px
}

.img1{
    grid-row: 2;
    grid-column: 1;
}
.img1_h{
    grid-row: 3;
    grid-column: 1;
}

.img2{
    grid-row: 2;
    grid-column: 2;
}
.img2_h{
    grid-row: 3;
    grid-column: 2;
}

.page1-main div h2{
    grid-row: 1;
    grid-column: 3;
}
.page1-main div p{
    grid-row: 2/3;
    grid-column: 3;
}

/* Page 2 */
/* .page2-main img{
    transition:transform 0.25s ease;
}
.page2-main img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
} */
.page2-div-1{
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: (minmax(90px, auto)); */
    grid-gap: 20px;
    padding:20px;
    /* outline: 2px solid red; */
}
.page2-img1{
    grid-row: 1;
    grid-column: 1;
    /* outline: 2px solid red; */
}
.page2-div-1 div{

    grid-row: 1;
    grid-column: 2;
}

.page2-div-2{
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: (minmax(90px, auto));
    grid-gap: 20px;
    padding:20px;
    /* outline: 2px solid red; */
}

.page2-img2{
    width: 400px;
    grid-row: 1;
    grid-column: 1;
    /* outline: 2px solid red; */
}
.page2-div-3{
    grid-row: 2;
    grid-column: 1;
    /* outline: 2px solid red; */
}
.page2-img3{
    height: 600px;
    grid-row: 1/3;
    grid-column: 2;
    /* outline: 2px solid red; */
}
.page2-div-4{
    height: 600px;
    grid-row: 1/3;
    grid-column: 3;
    /* outline: 2px solid red; */
}